.header{
    padding: 44px 45px 38px 20px;
    background-color: #3182CE;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.billing{
    width: 193px ;
    height: 44px ;
}
.p-bil{
    font-weight: 400 ;
    font-size: 12px ;
    line-height: 150% ;
    padding: 0 0 4px 0;
    color: white;
    width: 192px;
    height: 18px;
}
.title-1{
    font-weight: 400 ;
    font-size: 14px ;
    line-height: 140% ;
    color: white;
    width: 146px;
    height: 20px;
}
button { background: transparent; }
.вход {
    width: 58px;
    height: 16px;
}
.вход a{
    font-weight: 400 ;
    font-size: 12px ;
    line-height: 150% ;
    color: white;
}
.iconsh {
    width: 12px;
    height: 12px;
}
.buttonh{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonh li:not(:last-child){
    margin: 0 18px 0 0;
}
.search{
    width: 199px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search button{
    width: 37.5px; 
    height: 37.5px;
}
.search input{
    font-size: 12px;
}